<div class="container">
    <div class="d-flex align-items-center" ng-show="loading">
        <strong>Loading...</strong>
    </div>
    <div ng-show="!loading">
        <div class="card">
            <h5 class="card-header">Pagar</h5>
            <div class="card-body">
                <h5 class="card-title">Realizar pago no. {{payment.no}}</h5>
                <p class="card-text">Realizar pago por la cantidad de: {{paymentAmount | currency:'€':2 }}</p>
                <a class="btn btn-secondary" ng-href="#!/table/{{table.id}}" role="button">Cancelar</a>
                <button class="btn btn-primary" ng-click="doPayment()">Confirmar pago</button>
            </div>
        </div>
    </div>
</div>