<div class="container">
    <div class="d-flex align-items-center" ng-show="loading">
        <strong>Loading...</strong>
    </div>
    <div class="card" ng-show="!loading">
        <div class="card">
            <h5 class="card-header">Agregar nuevo cliente</h5>
            <div class="card-body">
                <form name="formNewCustomer" novalidate>
                    <div class="form-group">
                        <label>Nombre*</label>
                        <input type="text" name="nameCustomer" class="form-control" ng-model="newCustomer.name" required>
                        <div ng-show="formNewCustomer.nameCustomer.$touched" style="color: red; font-size: small;">
                            <div ng-show="formNewCustomer.nameCustomer.$error.required">Nombre requerido.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Monto solicitado*</label>
                        <input type="number" name="amount" class="form-control" ng-model="newCustomer.amount" min="1" ng-min="1" required>
                        <div ng-show="formNewCustomer.amount.$touched" style="color: red; font-size: small;">
                            <div ng-show="formNewCustomer.amount.$error.required">Monto requerido.</div>
                            <div ng-show="formNewCustomer.amount.$error.min">Cantidad inválida.</div>
                            <div ng-show="formNewCustomer.amount.$error.number">Campo númerico.</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="formNewCustomer.$invalid" ng-click="addNewCustomer()">Crear</button>
                </form>
            </div>
        </div>
    </div>
</div>