<div class="container">
  <div class="d-flex align-items-center" ng-show="loading">
      <strong>Loading...</strong>
  </div>
  <div ng-show="!loading">
    <h1>{{customer.name}}</h1>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Monto prestado</th>
          <th scope="col">Tabla de amortización</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="credit in credits track by $index">
          <th scope="row">{{$index}}</th>
          <td>{{credit.amount | currency:'€'}}</td>
          <td><a class="btn btn-primary" ng-click="goToTable(credit)" role="button">Ver</a></td>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-secondary" href="#!/home" role="button">Regresar</a>
  </div>
</div>