<div class="container">
    <div class="d-flex align-items-center" ng-show="loading">
        <strong>Loading...</strong>
    </div>
    <div class="card" ng-show="!loading">
        <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <h6 class="card-subtitle mb-2 text-muted">Haz clic en el nombre del cliente para ver sus créditos</h6>
            <div class="list-group mb-2">
                <a ng-click="goToCredits(customer)" ng-repeat="customer in customers" class="list-group-item list-group-item-action">{{customer.name}}</a>
            </div>
            <a class="btn btn-info" href="#!/newCustomer" role="button">Agregar cliente</a>
        </div>
    </div>
</div>