<div class="container">
    <div class="d-flex align-items-center" ng-show="loading">
        <strong>Loading...</strong>
    </div>
    <div ng-show="!loading">
        <h1>Monto pagado: {{table.amountPaid | currency:'€':2}}</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Monto a pagar</th>
                    <th scope="col">Pagos realizados</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tab in table.paymentNumber track by $index">
                    <th scope="row">{{tab.no}}</th>
                    <td>{{payment | currency:'€':2}}</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input position-static mr-2" type="checkbox" id="blankCheckbox" 
                            ng-model="tab.paymentStatus" disabled><span ng-show="tab.paymentStatus">Pagado</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <h4 ng-show="btnPayment">Préstamo liquidado</h4>
        <a class="btn btn-secondary" ng-href="#!/credits/{{customer.id}}" role="button">Regresar</a>
        <button type="button" class="btn btn-success" ng-show="!btnPayment" ng-click="goToPayment()">Realizar pago</button>
    </div>
</div>